<html>
  <head>
    <title>irc links</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="css/demo_page.css" type="text/css" /> 
    <link rel="stylesheet" href="css/demo_table.css" type="text/css" /> 
    <script type="text/javascript">
      $(document).ready(function(){
	$('#links').dataTable({
	    "aaSorting": [[ 4, "desc" ]],
	    "aoColumns": [
	      null,
	      null,
	      null,
	      null,
	      null
	    ]}
	  );
      });
    </script>
  </head>
  <body>
    <h1>irc links</h1>
    <h3>courtesy of slurp</h3>
    <% unless @links %>
      Currently no links, you should post some in the chat.
    <% end %>
    <table id="links">
      <thead>
	<tr>
	  <th>user</th>
	  <th>link</th>
	  <th>message</th>
	  <th>channel</th>
	  <th>date</th>
	</tr>
      </thead>
      <tbody>
	<% @links.each do |link| %>
	  <tr><td><%= link.user %></td><td><a href="<%= link.url %>"><%= link.sanitized_title %></a></td><td><%= link.message %></td><td><%= link.channel %></td><td> <%= link.date_added %></td></tr>
	<% end %>
    </tbody>
    </table>
  </body>
</html>
