<html>
  <head>
    <title>irc links</title>
    <style>
      td {
        background-color: #DDD;
      }
    </style>
  </head>
  <body>
    <h1>#blackscreen links</h1>
    <h3>courtesy of slurp</h3>
    <% unless @links %>
      Currently no links, you should post some in the chat.
    <% end %>
    <table>
    <% @links.each do |link| %>
      <tr><td><%= link.user %></td><td><a href="<%= link.url %>"><%= link.sanitized_title %></a></td><td><%= link.message %></td><td><%= link.channel %></td><td> <%= link.date_added %></td></tr>
    <% end %>
    </table>
  </body>
</html>
